body {
    font-size: 24px;
    line-height: 1.5;
    background-color: rgb(255, 166, 0);
}

header {
    padding: 20px;
    background-color: purple;
    flex-direction: row;   
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid 10px rgb(250, 54, 201);
    border-radius: 10px;
    height: 75px;
    display: flex;
    flex-wrap: nowrap;
}

 header h1 {
    color: rgb(250, 54, 201);
    font-size: 50px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

header nav ul {
    display: inline-block;
    margin-left: 1250px;
}

header nav ul li {
    font-size: 30px;
    display: inline-block;
    
}

article p {
    color: white;
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: solid 5px purple;
    border-radius: 10px;
    width: 600px;
    margin-left: 800px;
}

.Cool-subtitle {
    background-image: url(./assets/Coolsubtitle\ background.jpg);
    background-size: contain;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 10px;
    border: solid 10px rgb(250, 54, 201);
}

#subtitle {
    display: flex;
    justify-content: center;
}

