body {
    font-size: 24px;
    line-height: 1.5;
    background-color: rgb(255, 166, 0);
}

header {
    padding: 20px;
    background-color: purple;   
    justify-content: space-between 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid 10px rgb(250, 54, 201);
    border-radius: 10px;
    height: 75px;
}

 header h1 {
    color: rgb(250, 54, 201);
    font-size: 50px;
    display: inline-block;
    margin-top: 5px;
}

header nav {
    color: rgb(250, 54, 201);
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

header nav ul li {
    display: inline-block;
    font-size: 30px;
}

article p {
    color: white;
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: solid 5px purple;
    border-radius: 10px;
}

.Cool-subtitle {
    background-image: url(./assets/Coolsubtitle\ background.jpg);
    background-size: contain;
}

